  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
  }


/* как только дочерние элементы достигают  180px по ширине, количество колонок увеличивается. просто прописывается минимальное значение каким может быть элемент */